<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>User Successfully Deleted!</h1>
        <a href="http://gabriel.fw/">Home!</a>
    </body>
</html>