<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>To Do List</h1>
        <ul>
        {% for item in items %}
            <li>{{item.task}}</li>
        {% endfor %}
        </ul>
        <a href="http://gabriel.app/index.php/insert-task-form">To Insert a Task, please click here!</a><br>
        <p>To Delete a Task, please prompt the task in the URL like this example: <b>http://gabriel.app/index.php/delete-task?task=study</b></p><br>
    </body>
</html>
