<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>List of Users</h1>
        <ul>
        {% for user in users %}
            <li>{{user.username}}</li>
        {% endfor %}
        </ul>
        <a href="http://gabriel.fw/index.php/insert-user">To Insert an User, please click here!</a><br>
        <p>To Delete an User, please prompt the username in the URL like this example: http://gabriel.fw/index.php/delete-user?username=gabriel</p><br>
    </body>
</html>
