<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>Account successfully created!</h1>
        <p>Hello {{ username }}</p>
        <p>Thank you for registering with us. Your account details are as follows: </p>
        <p style="margin-left: 10px">
            Username: {{ username }} <br/>
            Password: {{ password }}
        </p>
        <p>You've already been logged in, so go on in and have some fun!</p>
    </body>
</html>