<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
    <h1>Add a Task!</h1>
    <form action="http://gabriel.fw/index.php/insert-task" method="POST">
    <fieldset>
        <label for="task">Task</label>
        <input type="text" id="task" name="task" required />
    </fieldset>

    <fieldset class="form-actions">
        <input type="submit" value="Save" />
    </fieldset>
    </form>
    </body>
</html>
