<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>Warning!</h1>
        <ul>
        {% for item in items %}
            <li>{{item}}</li>
        {% endfor %}
        </ul>
        <a href="http://gabriel.fw/index.php/insert-task-form">Come back!</a>
    </body>
</html>