<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Guzman Framework</title>
    </head>
    
    <body>
        <h1>Province and Municipe</h1>
        <h2>{{ items.province }}</h2>
        <h3>{{ items.municipe }}</h3>
    </body>
</html>
